body {
  margin: 0px;
}

img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

p {
  text-shadow: 2px 1px #000000;
}

.img-wrapper {
  max-width: 100%;
  height: 100%;
}

.slide1-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100px;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 4px 1px #000000;
  color:white;
}

.main-body {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
  color:#ffffff;
}

.credits-text {
  position: absolute;
  bottom: 0px;
  left: 16px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 2px 1px #000000;
  color:#ffffff;
}

.credits-button {
  position: absolute;
  bottom: 50px;
  left: 16px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color:#ffffff;
}

.funny-button {
  position: absolute;
  bottom: 50px;
  right: 16px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color:#ffffff;
}

.funny-credits {
  position: absolute;
  bottom: 0px;
  right: 16px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 2px 1px #000000;
  color:#ffffff;
}